.advantages {
  background: linear-gradient(to right, $color-default-white 2.5%, $color-bg 2.5%);

  @include vp-1199 {
    background: $color-bg;
  }
}

.advantages .container {
  padding-top: 148px;
  padding-bottom: 86px;

  @include vp-1199 {
    padding-top: 92px;
    padding-bottom: 95px;
  }

  @include vp-767 {
    padding: 65px 0 62px;
  }
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: 340px 240px 340px;
  grid-template-rows: repeat(2, 1fr);
  padding-left: 61px;
  padding-right: 40px;
  column-gap: 60px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min-content);
    padding: 0;
    column-gap: 30px;
    row-gap: 45px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }
}

.advantages h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 51px;
  margin-left: 11px;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-left: -22px;
    margin-bottom: 45px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 47px;
    margin-left: -17px;
  }
}

.advantages__item {
  display: flex;
  justify-content: space-between;
  width: 340px;
  min-height: 157px;

  &--first {
    padding-left: 19px;
    border-bottom: 2px solid $color-adv-item;
    align-items: flex-start;

    @include vp-1199 {
      padding-left: 0;
    }
  }

  &--second {
    border-bottom: 2px solid $color-adv-item;
    align-items: flex-start;
    margin-left: auto;
  }

  &--third {
    padding-left: 19px;
    align-items: flex-end;

    @include vp-1199 {
      padding-left: 0;
    }
  }

  &--fourth {
    align-items: flex-end;
  }

  &--first b {
    background: $color-adv-item-firstb;
  }

  @include vp-1199 {
    width: 320px;
    min-height: 72px;
    border: none;
  }

  @include vp-767 {
    width: 100%;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 41px;
    }
  }
}

.advantages__info {
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  @include vp-767 {
    align-items: center;
    margin: 0;
    margin-bottom: 15px;
  }
}

.advantages__item b {
  font-weight: 700;
  font-size: 71px;
  line-height: 53px;
  background: $color-adv-item-b;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px;

  @include vp-1199 {
    font-size: 58px;
    line-height: 50px;
    margin-bottom: 1px;
  }

  @include vp-767 {
    margin-bottom: 7px;
  }
}

.advantages__item span {
  font-size: 14px;
  line-height: 21px;
  color: $color-adv-span;

  @include vp-767 {
    line-height: 10px;
  }
}

.advantages__item dl {
  margin: 0;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 46px;
  }
}

.advantages__item dt {
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;
  margin-bottom: 10px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
    margin-top: -2px;
    margin-bottom: 0;
  }

  @include vp-767 {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 7px;
  }
}

.advantages__item dd {
  margin: 0;
  font-weight: 300;
  line-height: 22px;

  @include vp-767 {
    text-align: center;
  }
}

.advantages__item-special {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 240px;
  min-height: 307px;
  background-color: $color-spec;
  color: $color-default-white;
  padding: 54px 30px 58px;
  margin-top: 2px;
  margin-bottom: 5px;

  @include vp-1199 {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 442px;
    min-height: 239px;
    margin: 0 auto;
    padding: 33px 115px 37px;
  }

  @include vp-767 {
    width: 100%;
    padding: 38px 52px 43px;
    margin-bottom: 45px;
  }
}

.advantages__info-special {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.advantages__item-special b {
  font-size: 74px;
  font-weight: 700;
  line-height: 74px;
}

.advantages__item-special span {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;

  @include vp-1199 {
    font-size: 22px;
    line-height: 33px;
  }

  @include vp-767 {
    line-height: 22px;
  }
}

.advantages__item-special p {
  margin: 0;
  text-align: center;
}
