.coaches {
  padding-bottom: 91px;
  color: $color-default-white;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.coaches__container {
  position: relative;

  @include vp-1199 {
    max-width: 566px;
    margin: 0 auto;
  }

  @include vp-767 {
    max-width: 290px;
  }
}

.coaches h2 {
  font-family: $ff-alumni;
  color: $color-text;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 48px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 32px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }
}

.coaches__swiper {
  min-height: 294px;

  @include vp-1199 {
    width: 566px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 226px;
    min-height: 274px;
  }
}

.coaches__slide {
  position: relative;
  cursor: pointer;
  max-width: 260px;
  height: 294px;
  background-color: $color-coaches;

  @include hover-focus {
    box-shadow: 0 0 35px rgba(42, 59, 99, 0.17);
    outline: none;

    .coaches__slide-info {
      opacity: 1;
    }

    .coaches__slide-img {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    h3 {
      opacity: 0;
    }
  }


  @include vp-1199 {
    max-width: 268px;
  }

  @include vp-767 {
    max-width: 226px;
    height: 274px;
  }
}

.coaches__slide[data-coach].is-open {
  box-shadow: 0 0 35px rgba(42, 59, 99, 0.17);

  @include vp-1199 {
    .coaches__slide-info {
      opacity: 1;
    }

    .coaches__slide-img {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    h3 {
      opacity: 0;
    }
  }
}

.coaches__slide h3 {
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.coaches__slide-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.coaches__slide-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: $color-coaches;
  padding-top: 52px;
  padding-left: 54px;
  padding-bottom: 52px;
  padding-right: 10px;
  transition: opacity $trans-default;
  overflow: auto;

  @include vp-767 {
    padding: 42px 33px;
    align-items: center;
  }
}

.coaches__name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 2px;

  @include vp-1199 {
    margin-right: 22px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.coaches__slide p {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.coaches__slide span {
  line-height: 17px;
  color: $color-text-skill;
}

.coaches__skills-list {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
}

.coaches__skills-item {
  margin-bottom: 13px;
  padding-left: 17px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: 1px;
    top: 7px;
    border-radius: 50%;
    background-color: $color-default-white;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.coaches__button {
  position: absolute;
  z-index: 1;
  display: block;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 34px;
  padding: 0;
  background-color: transparent;

  &--next {
    transform: rotate(180deg);
    right: -5.5%;
    top: 44%;
  }

  &--prev {
    left: -5.5%;
    top: 45%;
  }

  @include hover-focus {
    outline: none;

    svg {
      stroke: $color-red-grad;
    }
  }

  @include active {
    svg {
      stroke: $color-bg-dark;
    }
  }

  @include vp-1199 {
    top: 44%;

    &--prev {
      left: -11%;
    }

    &--next {
      right: -11%;
    }
  }

  @include vp-767 {
    height: 70px;

    &--next {
      top: 37%;
      right: -3%;
      transform: scale(0.6) rotate(180deg);
    }

    &--prev {
      top: 38%;
      left: -3%;
      transform: scale(0.6);
    }
  }
}

.coaches__button svg {
  fill: none;
  stroke: $color-btn-swiper;
}

.coaches__wrapper[data-swiper].is-nojs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.coaches__button[data-swiper-button].is-nojs {
  display: none;
}
