.footer {
  min-height: 108px;
  background-color: $color-bg-dark;
  padding-bottom: 31px;
  padding-top: 42px;

  @include vp-1199 {
    min-height: 114px;
  }

  @include vp-767 {
    min-height: 260px;
    padding-top: 45px;
    padding-bottom: 39px;
  }
}

.footer .container {
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__logo {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include vp-1199 {
    width: 81px;
    height: 25px;
  }

  @include vp-767 {
    display: none;
  }
}

.footer__nav-list {
  max-width: 430px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  margin-left: 11px;

  @include vp-1199 {
    margin-top: 2px;
    max-width: 390px;
    column-gap: 30px;
  }

  @include vp-767 {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 33px;
    row-gap: 15px;
    margin-bottom: 32px;
    margin-top: 0;
    margin-left: 0;
    align-items: center;
  }
}

.footer__nav-item {
  &--logo {
    display: none;
  }

  @include vp-767 {
    &--logo {
      display: block;
      width: 68px;
      height: 15px;
      order: -4;
    }

    &--services {
      order: -2;
    }

    &--stocks {
      order: -3;
    }

    &--coaches {
      order: -1;
    }
  }
}

.footer__nav-link {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;

  @include hover-focus {
    text-decoration: underline $color-default-white;
    outline: none;
  }

  @include active {
    outline: 1px solid $color-default-white;
    outline-offset: 2px;
  }

  @include vp-767 {
    letter-spacing: 0.06em;
  }
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 97px;

  @include vp-1199 {
    margin-right: -6px;
    margin-top: 3px;
  }
}

.footer__social-item {
  margin-right: 11px;
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include hover-focus {
    outline: 1px solid $color-default-white;
    outline-offset: 1px;
  }

  @include active {
    outline: 1px solid $color-default-white;
    outline-offset: 2px;
  }
}
