.footer {
  min-height: 108px;
  background: $color-bg-footer;
  padding: 42px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 88px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__nav-item {
  margin-right: 40px;

  @include vp-1199 {
    margin-right: 30px;
  }
}

.footer__nav-link {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__social-item {
  margin-right: 11px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
