.gym {
  padding-bottom: 120px;
  padding-top: 120px;

  @include vp-1199 {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.gym .container {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.gym__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 355px;
  padding-top: 51px;

  @include vp-1199 {
    padding: 0;
    max-width: 504px;
    padding-bottom: 38px;
    align-items: center;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.gym h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 37px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 17px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 0;
    margin-left: -15px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}

.gym h3 {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 34px;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.gym p {
  font-weight: 300;
  margin: 0;
  margin-bottom: 6px;

  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.gym__descr {
  @include vp-1199 {
    max-width: 504px;

    p:last-child {
      display: none;
    }
  }
}


.gym__media {
  max-width: 660px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  @include vp-767 {
    max-height: 520px;
  }
}

.gym__media-img {
  width: 100%;

  @include vp-1199 {
    height: 345px;
  }
}

.gym__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-1199 {
    ////object-fit: cover;
    ////position: absolute;
    ////top: 50%;
    ////left: 50%;
    ////transform: translate(-50%, -50%);
    ////width: 678px;
    ////height: 345px;
    ////object-fit: fill;
    //clip-path: inset(0 0 6% 10%);
  }

  @include vp-767 {
    max-height: 313px;
  }
}

.gym__video {
  width: 364px;
  height: 228px;
  margin-top: -113px;
  margin-left: -63px;
  position: relative;

  @include vp-1199 {
    width: 266px;
    height: 167px;
    margin-top: -84px;
    margin-left: 0;
  }

  @include vp-767 {
    margin-top: 40px;
  }
}

.gym__iframe {
  width: 100%;
  height: 100%;
}

.gym__video-poster {
  position: absolute;
  top: 0;
  left: 0;

  &--hidden {
    display: none;
  }
}

.gym__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  padding: 0;
  width: 100px;
  height: 100px;
  border: none;
  background: url("../img/svg/video-button.svg") no-repeat center;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &--hidden {
    display: none;
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;
  }

  //@include vp-767 {
  //  top: 50%;
  //}

  @include hover-focus {
    outline: none;
    border: 2px solid $color-text;
    border-radius: 50%;
  }

  @include active {
    outline: none;
    border: 2px solid $color-text;
    border-radius: 50%;
  }
}
