.reviews {
  padding: 120px 0;

  @include vp-1199 {
    padding-top: 91px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.reviews__wrapper {
  position: relative;
  max-width: 560px;
  margin: 0 auto;

  @include vp-1199 {
    max-width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.reviews h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 34px;
  margin-left: 9px;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 41px;
    margin-left: -5px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.reviews__slide {
  background-color: $color-spec;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  color: $color-default-white;
  margin: 0;
  padding: 62px 62px 57px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 20px 1fr;
  column-gap: 28px;
  row-gap: 15px;

  @include vp-767 {
    padding: 40px 25px;
    grid-template-columns: 68px 1fr;
    grid-template-rows: minmax(68px, auto) 1fr;
    row-gap: 20px;
    column-gap: 15px;
  }
}

.reviews__slide cite {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  margin-top: -2px;

  @include vp-767 {
    line-height: 26px;
  }
}

.reviews__slide p {
  line-height: 22px;
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;

  @include vp-767 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.reviews__slide-img {
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/3;

  @include vp-767 {
    width: 68px;
    height: 68px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.reviews__button {
  position: absolute;
  top: 43%;
  transform: translate(-57%);
  z-index: 1;
  display: block;
  cursor: pointer;
  border: none;
  width: 18px;
  height: 34px;
  background-color: transparent;

  svg {
    fill: none;
    stroke: #afafaf;
  }

  &--next {
    transform: rotate(180deg);
    right: -64px;
  }

  &--prev {
    left: -53px;
  }

  &.swiper-button-disabled {
    display: none;
  }

  @include hover-focus {
    outline: none;

    svg {
      stroke: $color-btn;
    }
  }

  @include active {
    svg {
      stroke: $color-btn;
    }
  }

  @include vp-767 {
    &--next {
      right: -20px;
    }

    &--prev {
      left: -53px;
    }
  }
}
