.stocks {
  padding-top: 149px;

  @include vp-1199 {
    padding-top: 100px;
  }
}

.stocks h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 34px;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
  }
}

.stocks__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "general ordinary-1"
    "general ordinary-2";
  gap: 40px;

  @include vp-1199 {
    grid-template-areas:
      "general general"
      "ordinary-1 ordinary-2";
    gap: 30px;
  }
}

.stocks__general {
  grid-area: general;
  color: $color-default-white;
  display: grid;
  grid-template-columns: 1fr auto;
}

.stocks__general-content {
  background-color: $color-stock-gen;
  padding: 45px;
  display: flex;
  flex-direction: column;
}

.stocks__general-image {
  max-width: 280px;

  @include vp-1199 {
    max-width: 399px;
    max-height: 462px;
  }
}

.stocks__general-img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  @include vp-1199 {
    width: 399px;
  }
}

.stocks__general h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  margin: 0;
  margin-bottom: 19px;
}

.stocks__general span {
  font-weight: 700;
  font-size: 70px;
  line-height: 50px;
  margin-bottom: 35px;
}

.stocks__general p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.stocks__general-link {
  width: 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  border-bottom: 1px solid $color-default-white;
  margin-top: auto;
}

.stocks__ordinary-item {
  padding: 28px;
  border: 7px solid #d10a42;
  border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 1;
  color: $color-spec;
  display: flex;
  flex-direction: column;

  &--first {
    grid-area: ordinary-1;
  }

  &--second {
    grid-area: ordinary-2;
  }

  @include vp-1199 {
    min-height: 211px;
  }
}

.stocks__ordinary-item h3 {
  font-weight: 700;
  font-size: 26px;
  margin: 0;
  margin-bottom: 20px;
}

.stocks__ordinary-item p {
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.stocks__ordinary-link {
  width: 68px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-spec;
  border-bottom: 1px solid $color-spec;
  margin-top: auto;
}
