.subscription {
  background-color: $color-bg;
  padding: 120px 0;
  position: relative;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding-bottom: 70px;
    padding-top: 64px;
  }
}

.subscription__image {
  position: absolute;
  right: 0;
  bottom: -149px;
  width: 385px;
  height: 492px;
  z-index: 0;

  @include vp-1199 {
    width: 347px;
    height: 446px;
    bottom: -126px;
  }

  @include vp-767 {
    display: none;
  }
}

.subscription__img {
  width: 100%;
  height: 100%;
  object-position: 98px;

  @include vp-1199 {
    object-position: 0;
  }
}

.subscription .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.subscription h2 {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 17px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-left: -13px;
    margin-bottom: 21px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 22px;
  }
}

.subscription__nav {
  display: flex;
  justify-content: space-between;
  width: 342px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  margin-bottom: 38px;
  padding-bottom: 11px;

  @include vp-1199 {
    width: 332px;
    margin-bottom: 45px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 35px;
  }
}

.subscription__nav-button {
  font-size: 20px;
  line-height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  user-select: none;
  color: rgba($color: $color-text, $alpha : 0.5);

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }

  @include hover-focus {
    color: $color-red-grad;
    outline: none;
  }

  @include active {
    border: 2px solid $color-red-grad;
  }
}

.subscription__nav-button[data-sub-button].is-active {
  color: $color-text;
}

.subscription__nav-button[data-sub-button].is-active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -13px;
  background-color: $color-red-grad;

  @include vp-767 {
    width: 113%;
  }
}

.subscription__subcontent[data-sub-tab].is-active {
  display: block;
}

[data-sub-tab].is-nojs {
  display: block;
  margin-bottom: 30px;
}

[data-sub-tab]:not(.is-nojs) {
  display: none;
}

.subscription__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.subscription__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 61px 69px 60px;
  background-color: $color-default-white;
  cursor: pointer;
  border: 7px solid transparent;

  @include hover-focus {
    border: 7px solid $color-red-grad;
    border-image: $color-grad-border;
    border-image-slice: 1;
    outline: none;

    & .subscription__link {
      color: $color-default-white;
      border: none;
      background: $color-sub-link;
    }
  }

  @include vp-1199 {
    padding: 60px 110px 61px;
  }

  @include vp-767 {
    padding: 44px 35px 47px;
  }
}

.subscription__item h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 14px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

.subscription__item span {
  color: $color-text-subscr;
  margin: 0;
  margin-bottom: 82px;

  @include vp-767 {
    margin-bottom: 74px;
  }
}

.subscription__price {
  margin-bottom: 51px;
  position: relative;

  @include vp-767 {
    margin-bottom: 49px;
  }
}

.subscription__item p {
  margin: 0;
  position: relative;
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  color: $color-text-light;

  @include vp-767 {
    font-size: 48px;
    line-height: 33px;
    margin-left: 4px;
  }
}

.subscription__rouble {
  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.subscription__item b {
  position: absolute;
  top: -30px;
  left: -19px;
  font-weight: 700;
  font-size: 100px;
  line-height: 70px;
  color: $color-text-price;
  opacity: 0.48;

  @include vp-767 {
    font-size: 80px;
    line-height: 55px;
    left: -13px;
  }
}

.subscription__link {
  width: 208px;
  min-height: 66px;
  border: 2px solid $color-text;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  user-select: none;
  margin-top: auto;

  @include focus {
    border: 7px solid $color-red-grad;
    border-image: $color-grad-border;
    border-image-slice: 1;
    outline: none;
  }

  @include active {
    border: 7px solid $color-red-grad;
  }
}
